#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app-content {
  display: flex;
}

.left-box {
  border-right: 1px solid #dfe1e6;
}

.right-box {
  width: 100vw;
  height: calc(100vh - 58px);
  overflow-y: auto;
}
